/* Guilherme dos Santos 05 May 2024 web-110 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background-color: #eadbc8;
}
/* Main wrapper for all pages */
.wrapper {
  background-color: #fefaf6;
  color: #102c57;
  width: 95%;
  margin: auto;
  max-width: 100em;
  padding-bottom: 2em;
}
/* Styles for the top section of the page */
.headerNavigation,
.footerNavigation {
  display: flex;
  gap: 2em;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #102c57;
  color: #fefaf6;
  flex-wrap: wrap;
}
.footerNavigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 1.5em;
}
h2,
h3 {
  color: #102a9f;
}
h2 {
  font-size: 1.5em;
  padding: 0.5em;
}
/*------------------------------ nav mobile version--------------------------- */
/* target the svg */
.dropdown img {
  height: 2em;
  width: 2em;
  filter: invert(96%) sepia(10%) saturate(469%) hue-rotate(39deg)
    brightness(112%) contrast(99%);
  transition: transform 0.5s ease-in-out;
}
.dropdown img:hover {
  transform: scale(1.2);
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #102c57;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  transform: translate(-70%, 0);
  transition: all 0.5s ease-in-out;
}
.dropdown:hover .dropdown-content {
  display: block;
  left: 0;
}
.dropdown-content > a {
  display: block;
}
/* --------------------------------nav bigger screen------------------ */
nav > ul {
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5em;
}
.nav-footer {
  display: flex;
}
nav > ul > li {
  margin-right: 1rem;
}

nav > ul > li > a,
.dropdown-content > a {
  color: #fefaf6;
  font-size: 1em;
  transition: color 0.3s ease-in-out;
  text-decoration: underline;
  padding: 1em 1em;
}
nav > ul > li > a:hover,
.dropdown-content > a:hover {
  color: #dac0a3;
}
/* Styles for the main section of the page, shared between all pages */
main {
  max-width: 95%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}

/* Target a sibiling article */
article + article {
  margin-top: 1em;
}

.home-articles,
.work-cited-article {
  display: flex;
  flex-direction: column;
}
.home-articles figure {
  margin-top: 1em;
}

p {
  font-size: 1.2em;
  margin: 0 auto;
  max-width: 95%;
  text-align: justify;
  line-height: 1.3;
  text-indent: 0.5in;
  color: #102c57;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 100%;
  text-align: center;
}
/* text inside the footer */
.p-footer {
  color: #dac0a3;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 1.1em;
  text-indent: 0;
}
/* contact part inside the footer  */
.contact {
  display: flex;
  justify-content: space-around;
  width: 90%;
  flex-wrap: wrap;
}
.licontact {
  display: flex;
  gap: 1em;
  justify-content: space-around;
  align-items: center;
}
/* Share the same styles for text in the footer  and li inside the footer  */
.licontact a,
.p-footer a,
.other-fonts > a {
  font-size: 1.2em;
  line-height: 1.5;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 0 0.1em;
  line-height: 2;
  text-decoration: underline;
  transition: color 0.3s ease-in;
}
.licontact a:hover,
.p-footer a:hover,
.other-fonts > a:hover {
  color: #dac0a3;
}

/* ------------------------------------------------ Java and JS page --------------------------------------------*/
.history-articles {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.comparative-table th:first-child,
.comparative-table td:first-child {
  position: sticky;
  left: 0;
  background-color: inherit;
  z-index: 1;
  border: #102a9f solid 0.1em;
}

.comparative-table th:first-child {
  z-index: 2;
}

.comparative-table {
  max-width: 95%;
  margin: auto auto 1em auto;
  overflow-x: auto;
}
/* Included on CSS 3 */
/* targets even child */
.comparative-table tr:nth-child(even) {
  background-color: #e4dccf;
}
.comparative-table tr:nth-child(odd) {
  background-color: #f2e9e4;
}

/* Links inside the text on java and js page, and credits page  */
/* Sharing styles */
.credits-other > a,
.other-fonts > a,
p > a,
.supplies > a,
.jcccLinks {
  color: #102c57;
  font-weight: 600;
  text-decoration: underline;
  transition: color 0.3s ease-in-out;
}
p > a:hover,
.credits-other > a:hover,
.other-fonts > a:hover,
.supplies > a:hover,
.jcccLinks:hover {
  color: #dac0a3;
}

/*------------------------------------------------------- Form page -----------------------------------------*/
.font-learn {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  padding-top: 1em;
}

.font-learn ul {
  margin-left: 2em;
}
.font-learn ul li {
  list-style: square;
}
.font-learn ul li::marker {
  color: #102c57;
}
.form-intro-figure {
  display: flex;
  flex-direction: column;
}
.form-intro-figure figure {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 2em auto;
}
.form-intro-figure figure img {
  width: 100%;
  height: 100%;
}

/* ------------------------------------------------ Credits page ------------------------------*/

/* Target image on credits page */
article > figure,
div > figure,
.credits-img {
  max-height: 30em;
  max-width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
}
article > figure > img,
.credits-img > img,
div > figure > img {
  max-width: 100%;
  max-height: 20em;
}

.credits-grid section h3 {
  padding: 0.5em;
}
/* The grid in after the tablet size, before is just a display flex withe col direction */
.credits-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.credit-text > p,
.credits-images > p {
  text-indent: -0.5in;
  padding-left: 0.5in;
  display: inline-block;
  margin-top: 0.25em;
}
.credits-grid p::first-letter {
  text-transform: uppercase;
}
.links-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 3rem;
  flex-wrap: wrap;
}
.credits-other {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}
.other-fonts {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

/* web-110 Objectives */
.courseImg {
  text-align: center;
  margin: 0 auto;
  background-image: url(../images/courseImg.jpg);
  background-size: 100% 100%;
  width: 100%;
  max-width: 50em;
  height: 20em;
  background-repeat: no-repeat;
  box-shadow: 0.1em 0.1em 0.1em rgba(35, 82, 79, 0.3);
}

.CourseTopContent {
  text-align: center;
}
.supplies {
  text-align: justify;
  margin: auto;
  max-width: 50em;
  padding-top: 0.5em;
}

.suppliesH3 {
  padding-top: 0.5em;
}
.term {
  padding: 0.5em 0;
}
.termWrapper {
  justify-content: center;
}

.term li {
  list-style-position: inside;
}

.objectivesWrapper,
.compentencies {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50em;
  text-align: justify;
  padding-top: 0.5em;
}

.objectivesWrapper {
  text-align: center;
  padding: 0.5em;
}

.objectives {
  text-align: justify;
}

.objectives li {
  list-style: decimal;
  line-height: 1.5;
  list-style-position: inside;
  margin: 0.3em 0;
}

.objectives li::marker {
  color: #102c57;
  font-weight: 600;
}

.compentencies > ol {
  margin-left: 0.5em;
  list-style: upper-roman;
}

.compentencies {
  border-top: 0.1em solid rgb(40, 119, 184);
  border-bottom: 0.1em solid rgb(40, 119, 184);
  background-color: #fefaf6;
}

.compentencies ol li {
  margin: 0.3em 0;
  line-height: 1.5;
  list-style-position: inside;
}

/* Different h3 for the outline headers in the compentencies section */
.outlineHeaders {
  display: inline;
  font-size: 1em;
  line-height: 1.2;
}

.compentencies li::marker {
  color: #102c57;
  font-weight: 700;
}

.innerList {
  margin-left: 1em;
  list-style: upper-alpha;
}

.innerList li::marker {
  color: #102c57;
  font-weight: normal;
}

.createLinks {
  display: inline;
  font-size: 1.1em;
  font-weight: 450;
  color: #102c57;
}

.createLinksOl {
  list-style: decimal;
  margin-left: 1em;
}

.tablesWrapper {
  text-align: center;
}

table {
  text-align: justify;
  min-width: 14em;
  border-collapse: collapse;
  display: inline-block;
  margin: auto 5%;
}

th {
  color: #102c57;
}

th,
td {
  border: 1px solid #102c57;
  padding: 0.5em;
}

table caption {
  text-align: justify;
  padding: 0.5em 0;
  font-size: 1.2em;
  color: #102c57;
  font-weight: 600;
}

.secondTable {
  text-align: center;
}

.introWrapper,
.skills {
  text-align: center;
  width: 100%;
}

.introP {
  font-weight: 450;
}
.description {
  background-color: #fefaf6;
  max-width: 50em;
  margin: auto;
}

.courseIntroP,
.descriptionText {
  max-width: 50em;
  line-height: 1.5;
  text-align: justify;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Media queries table size */
@media screen and (min-width: 800px) {
  .dropdown {
    display: none;
  }
  .headerNavigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  h1 {
    font-size: 2em;
  }
  nav > ul {
    display: flex;
  }
  nav > ul > li > a {
    font-size: 1.2em;
  }
  .history-articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    justify-content: center;
    align-items: center;
  }
  .history-articles h2 {
    grid-column: 1/3;
  }
  /* Form page */
  .form-intro-figure figure {
    justify-content: center;
    align-items: center;
  }
  .form-intro-figure figure img {
    width: 70%;
    height: 70%;
  }
  .form-intro-figure p {
    max-width: 80%;
  }
  .issue-table {
    max-width: 70em;
  }
  .second-p-history {
    grid-column: 2/3;
  }
  .second-figure-history {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  /* Credits page */

  .credits-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    gap: 2em 2em;
  }
  .credit-text {
    grid-column: 1/2;
  }
  .credits-img {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .credits-other {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
/* Media queries bigger screen */
@media screen and (min-width: 1250px) {
  .main {
    gap: 2em;
  }
  p {
    max-width: 50em;
  }

  .comparative-table {
    max-width: 70em;
    margin: auto;
  }
  /* web 110 description */
  .objectivesWrapper {
    max-width: 100%;
  }
  .objectives {
    display: flex;
    flex-direction: column;
    gap: 0 1em;
    max-height: 12rem;
    flex-wrap: wrap;
    margin: auto;
    text-align: left;
  }
  .objectives > li {
    max-width: 100%;
    text-align: justify;
  }
  .competencies-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2em 2em;
    justify-content: center;
  }
  .compentencies h2 {
    text-align: center;
  }
  /* form page */
  .form-intro-figure {
    flex-direction: row;
  }
  .form-intro-figure figure img {
    max-width: 40em;
    max-height: 40em;
  }
  .form-intro-figure p {
    max-width: 40%;
    line-height: 1.4;
  }
}
