/* Guilherme dos Santos 03/16/2024 */
* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* ------------ Shared styles for all pages ------------ */
.headernav {
    width: 100%;
    margin: 0;
    height: auto;
    display: block;
    text-align: center;
    background-color: rgb(147, 221, 216);
    padding: 1em;
}

body {
    max-width: 85vw;
    margin: 0 auto;
    background-color: rgba(217, 234, 233, 0.7);

}

section {
    padding: 0.5em;
    margin: 1em auto;
}

h1,
h2 {
    color: rgb(20, 53, 53);
}

h1 {
    font-size: 2.3em;
    line-height: 1.2;
    margin: auto;
    padding: 0.5em 0;
    text-shadow: 0.1em 0.1em 0.5em rgba(15, 79, 79, 0.6);
}

header {
    width: 100%;

}

.ulNav {
    list-style: none;
}

.liNav {
    display: inline;
    margin: auto 5%;
}

h2 {
    font-size: 1.6em;
    line-height: 1.2;
    margin: 0.5em 0 0.5em 0;
    text-align: center;
}



h3 {
    font-size: 1.3em;
    line-height: 1.1;
    color: rgb(40, 90, 184);
}

.liNav a,
.bookstore,
.keepUl a,
.jcccLinks,
.projectLinks {
    font-size: 1.2em;
    line-height: 1.5;
    color: rgb(20, 53, 53);
    font-weight: 400;
    text-decoration: none;
    background:
        linear-gradient(to right, rgb(26, 44, 44), rgb(26, 44, 44)),
        linear-gradient(to right, rgb(36, 78, 43), rgb(255, 0, 0), rgb(236, 233, 21));
    background-size: 100% 0.05em, 0 0.05em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    padding: 0 0.1em;
}

.liNav a:hover,
.bookstore:hover,
.keepUl a:hover,
.jcccLinks:hover,
.projectLinks:hover {
    background-size: 0 0.08em, 100% 0.08em;
    color: rgb(45, 94, 94);
}


a:focus-visible {
    background-size: 0 0.1em, 100% 0.1em;
    outline-color: rgb(15, 79, 79);
    outline-offset: 0.1em;
    outline-style: dashed;

}

.introP,
.skillsP,
.courseIntroP,
.descriptionText {
    max-width: 50em;
    line-height: 1.5;
    text-align: justify;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p,
li {
    font-size: 1.2em;
    line-height: 1.3;
    color: rgb(20, 53, 53);
}

footer {
    text-align: center;
    padding: 1em;
}

footer p {
    font-size: 0.9em;
    font-weight: 500;
}

/* ------------ Index page ------------ */
.experience {
    text-align: center;
    background-color: rgba(119, 182, 178, 0.4);

}

.experienceWrapper {
    display: inline-block;
}

.experienceUl {
    display: inline-block;
    padding: 2em;
    margin: 1em;
    text-align: center;
    border-left: 1px solid rgb(40, 90, 184);
    border-right: 1px solid rgb(40, 90, 184);
}


.experienceUl li,
.skillsUl li {
    border-bottom: 1px solid rgb(20, 90, 200);
    list-style: square;
    width: 10em;
    line-height: 1.5;
    margin: 0.5em auto;
}


.skillULImgWrapper {
    padding-top: 1em;
    display: inline-block;
    margin: auto;
}

.skillsUl {
    display: inline-block;
    padding: 0 3em;
    line-height: 2;
    text-align: center;
    list-style: square;
    vertical-align: top;
}

.skillsUl li {
    border: none;
}

.indexImg {
    width: 17em;
    height: 17em;
    background-image: url(../images/index.jpg);
    background-size: cover;
    display: inline-block;
    box-shadow: 0.3em 0.3em 0.3em rgba(35, 82, 79, 0.3);
}

.emailBg,
.curriculumBg,
.linkedinBg,
.gitHubBg {
    height: 1.5em;
    width: 1.5em;
    background-size: cover;
    display: inline-block;
    margin: 0 0.5em;
    vertical-align: middle;
}

.keepIntouch {
    text-align: center;
    background-color: rgb(147, 221, 216);
}

.keepUl li {
    padding: 0.5em;
}

.keepUl a {
    line-height: 2;
}

.liEmail {
    display: block;
}

.liEmail~li {
    display: inline-block;

}

.emailBg {
    background-image: url(../images/icons8-mail-50.png);
}

.curriculumBg {
    background-image: url(../images/curriculumImg.png);

}

.gitHubBg {
    background-image: url(../images/githubimg.png);

}

.linkedinBg {
    background-image: url(../images/linkedinimg.png);

}

.moreInformation {
    background-color: rgb(147, 221, 216);
}

/* ------------ Portifolio page ------------ */
.porfolioIntro {
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.porfolioIntro div {
    display: inline-block;
    background-image: url(../images/portfolio-header.jpg);
    width: 15em;
    height: 15em;
    background-size: cover;
    background-repeat: no-repeat;
}

.porfolioIntro p {
    height: 100%;
    margin: auto 1em;
    display: inline-block;
    max-width: 35em;
    text-align: justify;
    vertical-align: top;
}

.projects {
    text-align: center;
}

.faceTogetherImg {
    background-image: url(../images/faceTogether.png);
}

.rpgImg {
    background-image: url(../images/rpg.png);
}

.frutaImg {
    background-image: url(../images/fruta.png);
}

.apperiaImg {
    background-image: url(../images/apeperia.png);
}

.faceTogetherImg,
.rpgImg,
.frutaImg,
.apperiaImg {
    max-width: 60em;
    height: 25em;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 1em auto;
    box-shadow: 0.3em 0.3em 0.3em rgba(35, 82, 79, 0.3);
    transition: box-shadow 1s ease-in;
}

.faceTogetherImg:hover,
.rpgImg:hover,
.frutaImg:hover,
.apperiaImg:hover {
    box-shadow: 0.2em 0.2em 0.3em rgba(35, 82, 79, 0.2);
}

.projectDescription {
    margin: auto;
    text-align: justify;
    max-width: 60em;
}

/* ------------ Course Web 110 page ------------ */
.courseImg {
    text-align: center;
    margin: 1em auto;
    background-image: url(../images/courseImg.jpg);
    background-size: 100% 100%;
    width: 100%;
    max-width: 50em;
    height: 20em;
    background-repeat: no-repeat;
    box-shadow: 0.3em 0.3em 0.3em rgba(35, 82, 79, 0.3);
}

.CourseTopContent {
    text-align: center;
}

.courseIntroP {
    margin: 1em auto;
}


.supplies {
    text-align: justify;
    margin: auto;
    max-width: 50em;
    padding-top: 0.5em;
}

.suppliesH3 {
    padding-top: 0.5em;
}

.termWrapper {
    justify-content: center;
}

.term li {
    list-style-position: inside;
}

.objectivesWrapper,
.compentencies {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
    text-align: justify;
}

.objectivesWrapper {
    text-align: center;
    padding-top: 0;
}

.objectives {
    text-align: justify;
}

.objectives li {
    list-style: decimal;
    line-height: 1.5;
    list-style-position: inside;
    margin: 0.3em 0;
}

.objectives li::marker {
    color: rgb(40, 119, 184);
    font-weight: 600;
}

.compentencies>ol {
    margin-left: .5em;
    list-style: upper-roman;
}

.compentencies {
    border-top: 0.1em solid rgb(40, 119, 184);
    border-bottom: 0.1em solid rgb(40, 119, 184);
    background-color: rgba(119, 182, 178, 0.4);
}

.compentencies ol li {
    margin: 0.3em 0;
    line-height: 1.5;
    list-style-position: inside;
}

.outlineHeaders {
    display: inline;
    font-size: 1em;
    line-height: 1.2;
}

.compentencies li::marker {
    color: rgb(40, 90, 184);
    font-weight: 700;
}


.innerList {
    margin-left: 1em;
    list-style: upper-alpha;
}

.innerList li::marker {
    color: rgb(20, 53, 53);
    font-weight: normal;
}

.createLinks {
    display: inline;
    font-size: 1.1em;
    font-weight: 450;
    color: rgb(20, 53, 53);
}

.createLinksOl {
    list-style: decimal;
    margin-left: 1em;
}

.tablesWrapper {
    text-align: center;

}

table {
    text-align: justify;
    min-width: 14em;
    border-collapse: collapse;
    display: inline-block;
    margin: auto 5%;

}

th {
    color: rgb(40, 119, 184);
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 0.5em;
}

table caption {
    text-align: justify;
    padding: 0.5em 0;
    font-size: 1.2em;
    color: rgb(40, 90, 184);
    font-weight: 600;
}

.secondTable {
    text-align: center;
}

.introWrapper,
.skills {
    text-align: center;
    width: 100%;
}

.introP {
    font-weight: 450;
}

.description {
    background-color: rgba(119, 182, 178, 0.4);
    max-width: 50em;
}