/* Guilherme dos Santos  */
* {
    margin: 0;
    box-sizing: border-box;

}

:root {
    --light-bg-color: rgba(217, 234, 233, 0.7);
    --font-green: color: rgb(24, 88, 88);
}

.headernav {
    background-color: aqua;
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: block;

}

body {
    width: 95%;
    margin: 0 auto;
}

header {
    width: 50%;

}

nav {
    display: inline-block;
    width: 50%;
    margin: 0 auto;
}

nav ul {
    display: inline;
}

nav+ul li {
    display: inline-block;
    color: blueviolet;
}

h2+ol li {
    list-style: decimal;
}

ol {
    font-family: 'Times New Roman', Times, serif;
    list-style: upper-roman;
}

li li {
    list-style: upper-alpha;

}

h4+ol li {
    list-style-type: decimal;

}