/* Guilherme dos Santos  */
* {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.headernav {
    width: 100%;
    margin: 0 auto;
    height: auto;
    display: block;
    text-align: center;

}

body {
    max-width: 85vw;
    margin: 0 auto;
    background-color: rgba(217, 234, 233, 0.7);

}

h1,
h2 {
    color: rgb(40, 119, 184);
}

h1 {
    font-size: 2.3em;
    line-height: 1.2;
    margin: 0.8rem 0;
}

header {
    width: 100%;

}

.ulNav {
    margin: 1.5rem 0rem;
    list-style: none;

}

.liNav {
    display: inline;
    margin: auto 5%;
}

.liNav a,
.bookstore {
    font-size: 1.2em;
    line-height: 1.5;
    color: rgb(20, 53, 53);
    font-weight: 600;
    text-decoration: none;
    background:
        linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
        linear-gradient(to right, rgb(36, 78, 43), rgb(255, 0, 0), rgb(236, 233, 21));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    padding: 0 0.1em;
}

.liNav a:hover,
.bookstore:hover {
    background-size: 0 0.1em, 100% 0.1em;
}

.liNav a:focus,
.bookstore:focus {
    background-size: 0 0.1em, 100% 0.1em;
    outline-color: rgb(15, 79, 79);
    outline-offset: 0.1em;
    outline-style: dashed;
}

p,
li {
    font-size: 1.2em;
    line-height: 1.3;
    color: rgb(20, 53, 53);
}

.courseIntroP {
    max-width: 80%;
    justify-content: center;
    text-align: center;
    color: rgb(20, 53, 53);
    margin: 1em auto;
    text-align: justify;
}

.termWrapper {
    text-align: center;
}

.term,
.objectives,
.compentencies {
    display: inline-block;
    text-align: left;
}

h2 {
    font-size: 1.6em;
    line-height: 1.2;
    margin: 0.6em 0;
}

.descriptionText {
    margin: auto 0;
    text-indent: 0.5in;
}

h3 {
    font-size: 1.2em;
    line-height: 1.1;
    margin: 0.5em 0;
    color: rgb(40, 90, 184);
}

.objectivesWrapper>h2 {
    text-align: justify;
}


.objectives {
    margin-left: 0.5em;
}

.objectives li {
    list-style: decimal;
    line-height: 1.5;
    list-style-position: inside;
    margin: 0.3em 0;
}

.objectives li::marker {
    color: rgb(40, 119, 184);
    font-weight: 600;
}

.compentencies>ol {
    margin-left: .5em;
    list-style: upper-roman;
}

.compentencies {
    border-top: 0.1em solid rgb(40, 119, 184);
    border-bottom: 0.1em solid rgb(40, 119, 184);
}

.compentencies ol li {
    margin: 0.3em 0;
    line-height: 1.5;
    list-style-position: inside;
}

.outlineHeaders {
    display: inline;
    font-size: 1em;
    line-height: 1.2;
}

.compentencies li::marker {
    color: rgb(40, 90, 184);
    font-weight: 700;
}


.innerList {
    margin-left: 1em;
    list-style: upper-alpha;
}

.innerList li::marker {
    color: rgb(20, 53, 53);
    font-weight: normal;
}

.createLinks {
    display: inline;
    font-size: 1.1em;
    font-weight: 450;
    color: rgb(20, 53, 53);
}

.createLinksOl {
    list-style: decimal;
    margin-left: 1em;
}

.tablesWrapper {
    margin: 2em 0;

}

table {
    text-align: justify;
    min-width: 14em;
    border-collapse: collapse;
    display: inline-block;
    margin: auto 5%;

}

th {
    color: rgb(40, 90, 184);
}

th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 0.5em;
}



table caption {
    text-align: justify;
    padding: 0.5em 0;
    font-size: 1.2em;
    color: rgb(40, 119, 184);
    font-weight: 600;

}

.secondTable {
    text-align: center;
}

footer {
    text-align: center;
    padding: 1em;
}